<nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top">
    <div class="row container-fluid">
      <a class="navbar-brand" href="inicio">
        <img class="imagen1" href="#" src="assets/logo.png">
      </a>
      <button class="navbar-toggler menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="inicio" href="inicio">inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="servicio" href="servicio">Servicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="galeria" href="galeria">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>