.imagen1{
    height: 60px;
    width: 180px;
}

@media (max-width: 414px){
    .navbar{
        width: 414px;
        height: 70px;
    }

    .navbar-nav > .nav-item > a{
        font-size: 15px;
        display: flex; 
    }

    .imagen1{
        height: 40px;
        width: 106px;
    }

    .menu{
        height: 30px;
        
    }
}

@media (max-width: 2000px){
    .navbar{
        width: 100%;
        height: 86px;
    }

    /*.imagen1{
        height: 60px;
        width: 100px;
    }*/
}