<footer class="foot container-fluid bg-info">
    <div class="footers row justify-content-between offset-1">
        <div class="col-3">
          <img class="logo1" src="assets/logo.png">
        </div>
        <div class="col-3 icono3">
          <i class="fab fa-facebook"></i>   
          <i class="fab fa-whatsapp"></i>       
          <i class="fab fa-instagram"></i>        
          <i class="fab fa-twitter"></i>        
          <i class="fab fa-google-plus-g"></i>
        </div>     
        <div class="col-3 icono3">
          <i class="fas fa-phone"></i>555-5555
        </div>
    </div> 
</footer>