.foot{
    height: 90px;
}

.logo1{
    height: 60px;
    margin-top: 20px;    
}
 
.icono3{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 90px;
}

@media (max-width: 414px){
    .foot{
        height: 60px;
    }
    
    .logo1{
        height: 30px;
        margin-top: 20px;
        margin-left: -40px;   
    }

    .icono3{
        font-size: 11px;
        margin-top: 27px;
        margin-left: 0px;
        margin-right: 6px;
        justify-content: space-around;
    }
}