<section class="container-fluid cards" id="servicios">
    <div class="row justify-content-around">
      <div class="card" style="width: 18rem;">
        <img src="assets/imagen2.png" class="card-img-top imag" alt="...">
        <div class="card-body">
          <h5 class="card-title">Servicios</h5>
          <p class="card-text">Somos una Empresa con un fuerte espíritu emprendedor, ofreciendo un servicio altamente confiable, más de 20 años de experiencia nos avalan.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/Imagen1.png" class="card-img-top imag" alt="...">
        <div class="card-body">
          <h5 class="card-title">Contactos</h5>
          <p class="card-text">Podés encontrar de manera fácil y rápida la respuesta a tu necesidad de conectividad, estamos para asesorarte.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/Imagen3.png" class="card-img-top imag" alt="...">
        <div class="card-body">
          <h5 class="card-title">Soporte</h5>
          <p class="card-text">Somos parte de un Equipo Especializado para brindarte la mejor atención.</p>
        </div>
      </div>
    </div>
</section>