.cards{
    background-color: rgb(5, 5, 102);
    height: 600px;
    margin-top: 70px;
}

.card{
    height: 400px;
}

.imag{
    margin-top: 50px;
    width: 50px;
    margin-left: 100px;
}

section{
    height: 600px;
    padding-top: 40px;
}

@media (max-width: 414px) {
    .cards{
        height: 1290px;
        margin-top: 70px;
    }

    .card{
        height: 400px;
        justify-content: space-around;
    }
}