.gallery{
    height: 900px;
}

.prod{
    padding-top: 50px;
}

.card1{
    height: 400px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front,.back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    position: absolute;
}

.front{
    z-index: 2;
    backface-visibility: hidden;
}

.back{
    z-index: 1;
    transform: rotateY(180deg);
}

.card1:hover{
    transform: rotateY(180deg);
}

@media (max-width:414px){
    .gallery{
        height: 2203px;
    }

    .card1{
        height: 370px;
    }
}