<section class="container-fluid gallery" id="galeria">
    <div class="row justify-content offset-2">
      <div class="card1" style="width: 18rem;">
         <div class="front"><img src="assets/1.jpg" class="card-img-top prod" alt="..."></div> 
         <div class="back">Precio $5000</div> 
      </div>
      <div class="card1" style="width: 18rem;">
        <div class="front"><img src="assets/2.jpg" class="card-img-top prod" alt="..."></div>
        <div class="back">Precio $5000</div> 
      </div>
      <div class="card1" style="width: 18rem;">
        <div class="front"><img src="assets/3.jpg" class="card-img-top prod" alt="..."></div>
        <div class="back">Precio $5000</div> 
      </div>
      <div class="card1" style="width: 18rem;">
        <div class="front"><img src="assets/4.jpg" class="card-img-top prod" alt="..."></div>
        <div class="back">Precio $5000</div> 
      </div>
      <div class="card1" style="width: 18rem;">
        <div class="front"><img src="assets/5.jpg" class="card-img-top prod" alt="..."></div>
        <div class="back">Precio $5000</div> 
      </div>
      <div class="card1" style="width: 18rem;">
        <div class="front"><img src="assets/6.jpg" class="card-img-top prod" alt="..."></div>
        <div class="back">Precio $5000</div> 
      </div>
    </div>
</section>  